<h1>New Product</h1>

<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="string" name = "name" class="form-control"  id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPrice" class="col-sm-2 col-form-label">Retail Price</label>
    <div class="col-sm-10">
      <input type="decimal" class="form-control" id="inputPrice" placeholder="Retail Price">
    </div>
    </div>
    <div class="form-group row">
      <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDescription" placeholder="Description">
      </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-1">Inventory Status</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            In-Stock
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Out-of-Stock
          </label>
      </div>
      <div class="form-group">
         <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-1">Supplier</legend>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Amazon</option>
          <option>Nordstrom</option>
          <option>GAP</option>
        </select>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Create Product</button>
    </div>
  </div>
</form>







<form action="/products" method="post">
  <div>
    Name: <input type="string" name="name">
  </div>
   <div>
    Retail Price: <input type="decimal" name="price">
  </div>
   <div>
    Description: <input type="text" name="description">
  </div>
   <div>
    Inventory Status: <select name="inventory_status" id="">
      <option value="">--Please choose an option--</option>
      <option value="in-stock">In-Stock</option>
      <option value="out-of-stock">Out-Of-Stock</option>
    </select>
  </div>
   <div>
    Supplier:   <select name="supplier_id" id="">
      <% Supplier.all.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
     <!--  <option value="">--Please choose an option--</option>
      <option value="1">Amazon</option>
      <option value="2">Nordstrom</option>
      <option value="3">GAP</option> -->
    </select>
  </div>
  <input type="submit" value="Create Product">
</form>