<h1>New Product</h1>

<form action="/products" method="post">
  <div>
    Name: <input type="string" name="name">
  </div>
   <div>
    Category: <input type="string" name="category">
  </div>
   <div>
    Retail Price: <input type="decimal" name="price">
  </div>
   <div>
    Description: <input type="text" name="name">
  </div>
  <input type="submit" value="Create Product">
</form>